body{
    background-color: #751717;
}

#product-page-1{
    display: flex;
    justify-content: space-evenly;
}

#product-page-2{
    display: flex;
    justify-content: space-evenly;
}

#product-page-3{
    display: flex;
    justify-content: space-evenly;
}

#product-page-4{
    display: flex;
    justify-content: space-evenly;
}


div{
    margin: 20px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: #2d661b; 
    border: 5px solid white;
    border-radius: 15px;
    background-origin: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s ease;
  }

  .product:hover {
    transform: scale(1.05);
  }

  img{
    width: 100%;
  }


  h2, p{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
  }